force-app/main/default/flows/OA_EDWOSB_Outreach_Sequence.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_EDWOSB_Sub_Email_1</name>
        <label>Send EDWOSB Sub Prospect Email 1</label>
        <locationX>308</locationX>
        <locationY>360</locationY>
        <actionName>OA_EmailSender</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Status_Day1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>leadId</name>
            <value>
                <elementReference>varLead.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateApiName</name>
            <value>
                <stringValue>EDWOSB_Sub_Prospect_Email_1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orgWideEmailAddressId</name>
            <value>
                <stringValue>0D2Pn00000013wjKAA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>campaignId</name>
            <value>
                <elementReference>$Record.CampaignId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>campaignMemberId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>OA_EmailSender</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Teaming_Email_1</name>
        <label>Send Teaming Partner Email 1</label>
        <locationX>44</locationX>
        <locationY>360</locationY>
        <actionName>OA_EmailSender</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Status_Day1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>leadId</name>
            <value>
                <elementReference>varLead.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateApiName</name>
            <value>
                <stringValue>Teaming_Partner_Email_1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orgWideEmailAddressId</name>
            <value>
                <stringValue>0D2Pn00000013wjKAA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>campaignId</name>
            <value>
                <elementReference>$Record.CampaignId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>campaignMemberId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>OA_EmailSender</nameSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Segment</name>
        <label>Check Outreach Segment</label>
        <locationX>176</locationX>
        <locationY>240</locationY>
        <defaultConnector>
            <targetReference>Send_EDWOSB_Sub_Email_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>EDWOSB Sub Prospect</defaultConnectorLabel>
        <rules>
            <name>Is_Teaming_Partner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varLead.Outreach_Segment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Teaming Partner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Teaming_Email_1</targetReference>
            </connector>
            <label>Teaming Partner</label>
        </rules>
    </decisions>
    <description>Sends Day 1 email immediately when a Lead is added to campaign 701Pn00001ZOyj8IAD. Day 3/5/10 follow-ups handled by OA_FollowUpScheduler Apex.</description>
    <environments>Default</environments>
    <interviewLabel>OA EDWOSB Outreach Sequence {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OA EDWOSB Outreach Sequence</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Lead</name>
        <label>Get Lead</label>
        <locationX>176</locationX>
        <locationY>120</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Segment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LeadId</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>varLead</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Outreach_Segment__c</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Company</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Status_Day1</name>
        <label>Update Status - Day 1 Sent</label>
        <locationX>176</locationX>
        <locationY>480</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Day 1 Sent</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <start>
        <locationX>176</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>701Pn00001ZOyj8IAD</stringValue>
            </value>
        </filters>
        <filters>
            <field>LeadId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>CampaignMember</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
