force-app/main/default/flows/OA_Meeting_Scheduled_Link.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <description>On save of an Event that is ALREADY linked to a Lead (WhoId is a Lead) and looks like a Teams meeting, finds that Lead's EDWOSB CampaignMember (Campaign 701Pn00001ZOyj8IAD) and sets Status = "Meeting Booked". This CampaignMember status update is its ONLY write. It does NOT create the Event-to-Lead link (the meeting must be scheduled from the Lead so WhoId is the Lead), does NOT modify the Event, does NOT write to the Lead, and does NOT populate Meeting_Join_URL__c (Flow cannot parse the Teams URL from Event.Description free text; that field is filled manually or by a future Graph integration). Meeting datetime comes from Event.StartDateTime. No Opportunity is created and no existing automation is modified. DRAFT/inactive by design - do not activate without approval.</description>
    <environments>Default</environments>
    <formulas>
        <name>frmIsLeadTeamsMeeting</name>
        <dataType>Boolean</dataType>
        <expression>AND(
  BEGINS(TEXT({!$Record.WhoId}), "00Q"),
  OR(
    CONTAINS({!$Record.Location}, "Teams"),
    CONTAINS({!$Record.Description}, "teams.microsoft.com")
  )
)</expression>
    </formulas>
    <interviewLabel>OA Meeting Scheduled Link {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OA Meeting Scheduled Link</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <decisions>
        <name>Is_Lead_Teams_Meeting</name>
        <label>Lead-linked Teams meeting?</label>
        <locationX>176</locationX>
        <locationY>240</locationY>
        <defaultConnectorLabel>Not applicable</defaultConnectorLabel>
        <rules>
            <name>Yes_Lead_Teams</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>frmIsLeadTeamsMeeting</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CampaignMember</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_CM_Found</name>
        <label>Campaign Member found?</label>
        <locationX>176</locationX>
        <locationY>480</locationY>
        <defaultConnectorLabel>Not found - exit</defaultConnectorLabel>
        <rules>
            <name>CM_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCampaignMember.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CM_MeetingBooked</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <recordLookups>
        <name>Get_CampaignMember</name>
        <label>Get EDWOSB Campaign Member</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_CM_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LeadId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>701Pn00001ZOyj8IAD</stringValue>
            </value>
        </filters>
        <object>CampaignMember</object>
        <outputReference>varCampaignMember</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_CM_MeetingBooked</name>
        <label>Set Member Status Meeting Booked</label>
        <locationX>176</locationX>
        <locationY>600</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCampaignMember.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Meeting Booked</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <start>
        <locationX>176</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Lead_Teams_Meeting</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhoId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Event</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>varCampaignMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
</Flow>
