force-app/main/default/flows/OA_Reply_Detection.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_CM_Found</name>
        <label>CampaignMember Found and Active?</label>
        <locationX>176</locationX>
        <locationY>480</locationY>
        <defaultConnectorLabel>Not Found / Already Terminal</defaultConnectorLabel>
        <rules>
            <name>CM_Found_And_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCampaignMember.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCampaignMember.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Replied</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCampaignMember.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Meeting Booked</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCampaignMember.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Not Interested</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCampaignMember.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Unsubscribed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Unsubscribe</targetReference>
            </connector>
            <label>Found and Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Lead_Found</name>
        <label>Lead Found by Email?</label>
        <locationX>176</locationX>
        <locationY>240</locationY>
        <defaultConnectorLabel>No Lead Match - Exit</defaultConnectorLabel>
        <rules>
            <name>Lead_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varLead.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CampaignMember</targetReference>
            </connector>
            <label>Lead Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Unsubscribe</name>
        <label>Is This an Unsubscribe?</label>
        <locationX>440</locationX>
        <locationY>480</locationY>
        <defaultConnector>
            <targetReference>Update_Status_Replied</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Regular Reply</defaultConnectorLabel>
        <rules>
            <name>Is_Unsubscribe</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>UNSUBSCRIBE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_Unsubscribed</targetReference>
            </connector>
            <label>Unsubscribe</label>
        </rules>
    </decisions>
    <description>Detects inbound emails from campaign leads via EAC. Matches by FromAddress to Lead.Email (RelatedToId is null for Lead-targeted emails by Salesforce design). UNSUBSCRIBE in subject sets status to Unsubscribed and opts lead out of email. All other replies set status to Replied. Both stop the outreach sequence.</description>
    <environments>Default</environments>
    <interviewLabel>OA Reply Detection {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OA Reply Detection</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_CampaignMember</name>
        <label>Get Campaign Member</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_CM_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LeadId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLead.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>701Pn00001ZOyj8IAD</stringValue>
            </value>
        </filters>
        <object>CampaignMember</object>
        <outputReference>varCampaignMember</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>LeadId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead</name>
        <label>Get Lead by From Address</label>
        <locationX>176</locationX>
        <locationY>120</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Lead_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FromAddress</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsConverted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>varLead</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Opt_Out_Lead</name>
        <label>Opt Lead Out of Email</label>
        <locationX>440</locationX>
        <locationY>720</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCampaignMember.LeadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HasOptedOutOfEmail</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_Replied</name>
        <label>Update Status - Replied</label>
        <locationX>176</locationX>
        <locationY>600</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCampaignMember.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Replied</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_Unsubscribed</name>
        <label>Update Status - Unsubscribed</label>
        <locationX>440</locationX>
        <locationY>600</locationY>
        <connector>
            <targetReference>Opt_Out_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCampaignMember.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Unsubscribed</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <start>
        <locationX>176</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Incoming</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>EmailMessage</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varCampaignMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>varLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
